<div class="container">
  <h2 class="about_us"><strong>Our Community</strong></h2>
  <h3 class="about_us">We at Athlenaire are a sports entity connecting players of different sports on a single platform. We work on sports promotions and education of sports. Our aim is to provide kids with basic fundamental of games and discipline in lifestyle. We aspire to create an atmosphere of competitive sportsmanship.</p>

  <h2 class="about_us"><strong>Our Mission is Creating athletic lifestyle.</strong></h2>
</div> 