.about_us {
  font-family: 'Pinyon Script', cursive;
}

#land {
  .main-header {
    text-align: center;
  }
  .main-img {
    height: 100%;
    width: 100%;
  }
  .sports-row {
    padding-bottom: 10vh;
  }
}