<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sports<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/basketball">Basketball</a></li>
            <li><a href="/football">Football</a></li>
            <li><a href="/body_building">Body Building</a></li>
            <li><a href="/cycling">Cycling</a></li>
            <li><a href="/table_tennis">Table Tennis</a></li>
            <li><a href="/badminton">Badminton</a></li>
          </ul>
        </li>
        <li class="disabled"><a href="#">Players</a></li>
        <li class="disabled"><a href="#">Tournaments</a></li>
        <li class="disabled"><a href="#">News</a></li>
        <li class="disabled"><a href="#">Locker Room</a></li>
        <li class="disabled"><a href="#">Blog</a></li>
        <li><a href="/about">About Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign In <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="disabled"><a href="#">Sign Up</a></li>
            <li class="disabled"><a href="#">Login</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

